[Desktop Entry]
Encoding=UTF-8
Name=Bittorium Wallet
Comment=Bittorium wallet
Exec=BittoriumWallet %U
Terminal=false
Type=Application
Icon=Bittorium
MimeType=x-scheme-handler/Bittorium;
Categories=Office;Finance;
